@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

$primaryColor: #14161d;
$secondColor: #d53766;
$borderColor: #1e2029;
$activeColor: #d53766;
$activeBackgroundColor: #181923;


* {
  text-decoration: none !important;
}

html, body {
  min-height: 100%;
  height: 100% !important;
}

@mixin scroll($w:10px,$h:10px,$scroll:rgba(0, 0, 0, .25),$scroll-bg:rgba(0, 0, 0, .1)) {

  &::-webkit-scrollbar-track {
    background: $scroll-bg !important;
    border-radius: 0;
  }

  &::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: $scroll !important;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    width: $w;
    height: $h;
  }
}

@mixin display-flex($a-items:center,$j-content:center,$f-direction:row) {
  display: flex;
  @if ($a-items) {
    align-items: $a-items;
  }
  @if ($j-content) {
    justify-content: $j-content;
  }

  @if ($f-direction) {
    flex-direction: $f-direction;
  }
}

// Homepage Button Effect
@mixin btn-border-drawing($color: $secondColor, $hover: $secondColor, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width $color;
  color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: $hover;

    &::before,
    &::after {
      border-color: $hover;
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(#fff, $secondColor, 4px, bottom, right);
}

.homepage {
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;

  .fullScreen__img-parent {
    background: url("../images/homepage.jpg") no-repeat center center fixed;
    background-size: cover;
  }

  .fullScreen__parent {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
  }

  .fullScreen__content {
    height: 100%;
    width: 100%;
    position: fixed;

    &::before {
      content: '';
      background: #000;
      opacity: 0.65;
      width: 100%;
      height: 100%;
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }

  .fullScreen__img-parent {
    width: 100%;
    height: 100%;
  }

  .fullScreen__text {
    position: fixed;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    a {
      color: #fff;
      background: none;
      border: none;
      cursor: pointer;
      line-height: 1.5;
      font: 700 1.2rem 'Roboto Slab', sans-serif;
      padding: 1em 2em;
      letter-spacing: 0.05rem;

      &:hover {
        color: $secondColor;
      }

      &:not(:first-child) {
        margin-left: 5px;
      }

      &:focus {
        outline: 2px dotted $secondColor;
      }
    }
  }
}

.wrapper {
  max-width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  min-height: 0;
  background-color: $primaryColor;

  header {
    display: flex !important;
    flex-direction: row;
    height: 85px;
    background-color: $primaryColor;
    border-bottom: .1px solid $borderColor;
    font-size: 13px;
    font-weight: 400;

    .logo {
      white-space: nowrap;
      width: 230.5px;
      height: 100%;
      border-right: .1px solid $borderColor;
      position: relative;
      padding: 26px;

      a {
        display: block;
        width: 100%;
        height: 100%;
        background: url("../images/logo.png") center center no-repeat;
        background-size: contain;
        text-indent: -999px;
      }

    }

    .header {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;

      .user {
        a {
          margin-right: 20px;

          &:last-child {
            margin-right: 40px;
          }
        }
      }
    }
  }

  .wrapper-inner {
    display: flex;
    justify-content: space-between;
    min-height: 0;
    height: 100%;

    aside.sidebar {
      transition: width .5s ease-in-out;
      background: $primaryColor;
      white-space: nowrap;
      max-width: 231px;
      width: 230px;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      position: relative;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;

      @include scroll();

      .scroll-wrapper {
        overflow: hidden !important;
        padding: 0 !important;
        position: relative;

        .sidebar-inner {
          -webkit-overflow-scrolling: touch;
          margin-bottom: 0;
          margin-right: 0;
          left: 0;
          padding: 0;
          top: 0;

          section.sidebar-group {
            .sidebar-heading {
              padding: 24px 35px 5px;
              text-transform: uppercase;
              font: 700 1.2rem 'Roboto Slab', sans-serif;
              font-size: 12px;
              font-weight: 600;
              color: #fff;
              margin-bottom: 15px;
              margin-top: 5px;
            }

            ul.sidebar-items {
              padding: 0;
              margin: 0 0 0 10px;
              list-style: none;

              &:not(:last-child) {
                border-bottom: .1px solid $borderColor;
              }


              li {
                margin: 8px 0;
                padding-bottom: 2px;

                &.active {

                  a {
                    transition: all .3s;
                    color: #fff;
                    background: $activeBackgroundColor;
                    border-color: $activeColor;

                    svg {
                      transition: all .3s;
                      color: $activeColor !important;
                    }
                  }
                }

                &:hover {
                  a {
                    color: #fff;

                    svg {
                      color: #fff;
                    }
                  }
                }

                a {
                  transition: all .3s;
                  font-size: 14px;
                  height: 33px;
                  line-height: 33px;
                  padding: 0 35px;
                  border-right: 1px solid transparent;
                  color: #9b9dab;
                  display: block;

                  span {
                    transition: all .3s;
                    line-height: 32px;
                    font-size: 18px;
                    display: block;
                    text-align: center;
                    margin-right: 20px;
                    float: left;
                    color: #9b9dab;
                  }
                }
              }
            }
          }
        }
      }
    }

    .page-content {
      flex: 1 auto;
      border-left: .1px solid $borderColor;
      position: relative;
      max-width: 100%;
      min-width: 0;
      padding-bottom: 85px;
    }
  }


}

@media only screen and (min-width: 992px) {
  .triggered {
    display: none !important;
  }
}

@media only screen and (max-width: 405px) {
  header {
    .user a {
      margin-right: 5px !important;
    }
  }
}

@media only screen and (max-width: 992px) {
  .triggered {
    background: #000;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: .75;
    display: block !important;
    transition: all .5s ease-in-out;
  }
  header {
    .logo {
      border-right: none !important;
      margin: 0 auto;
    }

    .burger-squeeze {
      display: block;
    }
  }
  .sidebar {
    width: 0 !important;
  }
  .created-room {
    flex-direction: column !important;

    .users {
      display: flex !important;
      @include display-flex(flex-start !important, flex-start !important, row !important);

      &:not(:first-child) {
        margin-left: 30px;
      }

      padding: 0 !important;
      margin: 0 !important;
      max-width: 100% !important;
      max-height: 200px;

      border-left: 0 !important;
      border-top: .1px solid $borderColor;
    }
  }
}

@media only screen and (max-width: 430px) {
  .room-buttons {

    flex-direction: column;

    .join-room-button, .create-room-button {
      width: 100%;
      margin: 10px 0 !important;
    }
  }
}

.burger-squeeze {
  display: none;
  margin: auto 0 auto 30px;

  .burger-lines {
    background-color: #d53766 !important;

    &:after, &:before {
      background-color: #d53766 !important;
    }
  }
}

.open {
  .burger-lines {
    background-color: transparent !important;
  }
}

.sidebar-active {
  transition: all .5s ease-in-out;
  width: 231px !important;
  position: absolute !important;
  left: 0;
  z-index: 999;
  height: 100% !important;
  border-right: .1px solid $borderColor;
  display: block !important;
}

.triggered-overlay {
  display: none;
}

.watch-together {
  height: 100%;

  .room-buttons {

    @include display-flex();

    .join-room-button, .create-room-button {

      padding: 1em 2em;
      color: #fff;
      font: 700 1.2rem 'Roboto Slab', sans-serif;
      letter-spacing: 0.05rem;

      &:not(:first-child) {
        margin-left: 10px;
      }

      &:hover {
        color: $secondColor;

      }
    }
  }
}

/* Modal */
.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

.ReactModal__Content {
  background-color: $primaryColor !important;
  border: 0.1px solid $borderColor !important;
  min-width: 350px;
  padding: 20px 30px;
  position: relative;

  #g-recaptcha {
    margin-top: 10px;
  }

  .modal-loading {
    background: url("../images/loading.svg") no-repeat;
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  .base-modal-active {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .base-modal {
    display: none;

    .modal-title {
      color: #fff;
      margin: 20px 0;
    }

    .base-modal-button {
      color: #fff;
      width: 100%;
      margin-top: 20px;
      padding: 15px 10px;

      &:hover {
        color: $secondColor;
      }
    }
  }
}

.created-room {

  @include display-flex();
  position: relative;
  height: 100%;

  .users {
    border-left: .1px solid $borderColor;
    display: block;
    max-width: 200px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    @include scroll(5px, 5px, $secondColor);

    .user {
      @include display-flex(center, center, column);
      margin-top: 30px;

      .user-avatar {
        width: 100px;
        position: relative;
        @include display-flex();
        border-radius: 50%;
        transition: all .2s;

        &:hover {
          filter: drop-shadow(0 0 5px $secondColor);
        }
      }

      .user-name {
        margin-top: 15px;
        color: #fff;

        .user-owner {
          color: $secondColor;
        }
      }
    }
  }

  .room-frame {
    width: 100%;
    height: 100%;
    @include display-flex(center,center,column);

    .room-open-frame {


      @media only screen and (max-width: 992px) {
        bottom: 200px;
      }

      .open-frame-items {
        display: flex;

        .frame-item {

          padding: 15px;
          cursor: pointer;

          border-color: $borderColor;
          border-style: solid;
          border-width: 1px 1px 5px 1px;
          border-bottom-color: transparent;
          border-top-right-radius: 2px;
          border-top-left-radius: 2px;

          transition: all .3s;

          &:not(:first-child) {
            margin-left: 4px;
          }

          &:hover {
            border-color: $secondColor;
            border-radius: 0;
            margin-top: -5px;

            svg {
              color: $secondColor;
            }
          }

          svg {
            color: #fff;
            font-size: 22px;
          }
        }
      }
    }

    .video-frame {
      width: 100%;
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
        padding: 20px 100px 20px 100px;
        @media only screen and (max-width: 992px) {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.frame-modal-icon {
  font-size: 28px;
  color: $secondColor;
  margin-top: -20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 310px) {
  .created-room {
    .users {
      .user {
        margin-left: 0 !important;
      }
    }

  }
}

.gender {

  .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    background-color: $secondColor !important;
    border-color: $secondColor !important;
  }

  label {
    color: #fff;
  }

  svg {
    color: $secondColor;
  }
}

/* Bootstrap */
.btn-dark {
  background-color: #252833 !important;
  border-radius: 1.5px !important;
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
  border: 0 !important;
  font-size: 14px !important;

  &:hover {
    background-color: #343637 !important;
  }
}